/********************************************************************************/

/******************************Globālie parametri********************************/

/********************************************************************************/

body, html {
  background: rgb(36, 46, 72);
  background: linear-gradient(0deg, rgba(36, 46, 72, 1) 0%, rgba(60, 72, 106, 1) 100%);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Lapas wrapperis, šeit definējas grid sistēma */

.wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
  margin: 0;
}

/********************************************************************************/

/******************************Navigācija****************************************/

/********************************************************************************/

/* Lapas navigācijas sadaļa*/

nav {
  margin: 0;
  grid-row: 1/3;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0px 1% 0 1%;
  box-shadow: 0 0.4px 4.6px rgba(0, 0, 0, 0.018), 0 0.6px 8.7px rgba(0, 0, 0, 0.023), 0 0.9px 12.5px rgba(0, 0, 0, 0.026), 0 2.2px 16px rgba(0, 0, 0, 0.028), 0 6.7px 19.8px rgba(0, 0, 0, 0.033), 0 19.8px 28.3px rgba(0, 0, 0, 0.044), 0 51px 74px rgba(0, 0, 0, 0.07);
}

/* Lapas navigācijas linku parametri */

nav a {
  margin: 10px 0;
  font-style: bold;
  font-weight: 200;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

/* Lapas navigāciju linku parametri , kad uz tiem uzvelk kursoru */

nav a:hover {
  opacity: 0.6;
  color: #d9d9d9;
}

/* Interfeisa nosaukuma grupa */

.PageTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 1% 0 10% 0;
}

.PageTitle h1 {
  font-style: normal;
  font-weight: bold;
  margin: 2px;
  width: 90%;
  background: -webkit-linear-gradient(#8994b6, #6e799b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Līnija starp H1 un H3 */

.DividerLine {
  background-color: #8994b6;
  height: 1px;
  width: 50%;
  margin: 2px;
}

.PageTitle h3 {
  font-style: bold;
  font-weight: 200;
  font-size: 15px;
  margin: 2px;
  width: 100%;
  color: #8994b6;
}

.Nosaukums_login {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5px;
}

.Nosaukums_login h1 {
  font-style: normal;
  font-weight: bold;
  margin: 2px;
  width: 90%;
  background: -webkit-linear-gradient(#8994b6, #6e799b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Authentication {
  grid-row: 2/5;
  grid-column: 6;
}

.Authentication-Form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 59px;
  background: #313c5a;
  box-shadow: 20px 20px 55px #273048, -20px -20px 55px #3b486c;
  width: 400px;
  height: 350px;
}

.Authentication-Form h3 {
  display: flex;
  background: -webkit-linear-gradient(#8994b6, #6e799b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: center;
  align-items: center;
}

.Authentication-Form input {
  width: 300px;
  height: 20px;
  border-radius: 25px;
  margin: 5px;
  transition: 0.3s;
}

.Authentication-Form input:hover {
  border-color: white;
}

.Authentication-Form form input[type="submit"] {
  background: rgb(108, 255, 201);
  background: linear-gradient(99deg, rgba(108, 255, 201, 1) 0%, rgba(157, 255, 144, 1) 100%);
  border: none;
  color: black;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5% 25%;
  cursor: pointer;
  transition: 0.3s;
  height: 30px;
  width: 50%;
}

.Authentication-Form form input:hover[type="submit"] {
  color: white;
}

/********************************************************************************/

/******************************MAIN SADAĻA***************************************/

/********************************************************************************/

/*     Galvenes sadaļa/konteineris, visa info par to, kurš ielogojies, kādā lapā */

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  grid-row: 1;
  grid-column: 3/12;
  align-items: center;
}

/* Lapas nosaukums  */

header h1 {
  color: white;
  margin-left: 20px;
}

/* Autorizācijas konteineris, satur info, kas ielogojies un izlogošanaš opcija */

.Header_Login {
  margin-left: auto;
  order: 2;
  text-align: center;
  margin-right: 20px;
}

/* Kurš ielogojies */

.Header_Login p {
  color: white;
  margin: 10px 0px 5px 0px;
  font-weight: bold;
  font-stretch: expanded;
}

/* Izlogošanās poga */

.Header_Login a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

/* Izlogošanās poga, kad uz tās ir kursors */

.Header_Login a:hover {
  color: #8994b6;
  text-decoration: none;
}

/*
Main sadaļa satur iekš sevis papildus GRID. Šī ir galvenā sadaļa visai
apskatāmajai informācijai
*/

main {
  grid-column: 3/12;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/*
Divas ailes, kur tiek veikta Adreses un pievienošanas iemesla aizpildīšana
*/

.InputForm {
  grid-row: 1;
  grid-column: 1/12;
  height: fit-content;
  box-shadow: 0 0.4px 4.6px rgba(0, 0, 0, 0.018), 0 0.6px 8.7px rgba(0, 0, 0, 0.023), 0 0.9px 12.5px rgba(0, 0, 0, 0.026), 0 2.2px 16px rgba(0, 0, 0, 0.028), 0 6.7px 19.8px rgba(0, 0, 0, 0.033), 0 19.8px 28.3px rgba(0, 0, 0, 0.044), 0 51px 74px rgba(0, 0, 0, 0.07);
}

.InputForm form {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  padding: 5px;
}

/* Pašu teksta lauku parametri */

.InputForm textarea {
  margin: 5px;
  height: 40px;
  width: 40%;
}

/*Domain un URL formu pogu stila parametri. */

/* Pogas izskats, kad tā netiek nospiesta */

.InputForm form button {
  background: rgb(108, 255, 201);
  background: linear-gradient(99deg, rgba(108, 255, 201, 1) 0%, rgba(157, 255, 144, 1) 100%);
  border: none;
  color: black;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
  height: 30px;
}

/* Pogas burti paliek balti, kad uz pogas uzliek kursoru*/

.InputForm button:hover {
  color: white;
}

/*
Sadaļa zem formas, kurā tiek attēloti visi datubāzes ieraksti
*/

.UploadForm {
  grid-row: 2;
  grid-column: 3/7;
  border-radius: 59px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #313c5a;
  box-shadow: 20px 20px 55px #273048, -20px -20px 55px #3b486c;
}

.UploadForm form {
  flex-direction: column;
  margin: 5px;
}

.UploadForm h2 {
  font-style: bold;
  margin: 10px;
  width: 100%;
  color: #8994b6;
}

.UploadForm input {
  width: 50%;
}

.UploadForm textarea {
  width: 90%;
  height: 50px;
  margin: 5px;
}

.UploadForm button {
  background: rgb(108, 255, 201);
  background: linear-gradient(99deg, rgba(108, 255, 201, 1) 0%, rgba(157, 255, 144, 1) 100%);
  border: none;
  color: black;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
  height: 30px;
}

/* Pogas burti paliek balti, kad uz pogas uzliek kursoru*/

.UploadForm button:hover {
  color: white;
}

.UploadForm label {
  float: left;
  margin-left: 20px;
  color: white;
}

.Record_List {
  grid-column: 1/12;
  grid-row: 2;
  height: 600px;
}

.Information {
  grid-column: 1/12;
  grid-row: 1;
  height: 600px;
}

.SearchAndSave button {
  background: rgb(108, 255, 201);
  background: linear-gradient(99deg, rgba(108, 255, 201, 1) 0%, rgba(157, 255, 144, 1) 100%);
  border: none;
  color: black;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
  height: 20px;
  font-weight: bold;
  float: right;
  margin-right: 5px;
}

.SearchAndSave button:hover {
  color: white;
}

.SearchAndSave a {
  color: black;
  transition: 0.3s;
  text-decoration: none;
}

.SearchAndSave a:hover {
  color: white;
}

.SearchAndSave input {}

/*Meklēšanas teksta lauka parametri*/

input {
  margin-left: 0;
  width: 20%;
  text-align: center;
}

/* Tabulas kolonnas parametri */

table th {
  font-weight: bold;
  background-color: #2e3957;
}

/* Tabulas Rindas parametrs, kad uz tā nav uzvilkts kursors */

table tr {
  color: white;
  border-style: solid;
}

table tr:hover {
  color: white;
  background-color: #3b6e64;
}

table tr:nth-child(even) {
  background: #42527B;
}

table tr:nth-child(even):hover {
  background-color: #3b6e64;
}

/* Tabulā esošās dzēšanas pogas parametri  */

table button {
  background: rgb(108, 255, 201);
  background: linear-gradient(99deg, rgba(108, 255, 201, 1) 0%, rgba(157, 255, 144, 1) 100%);
  border: none;
  color: black;
  text-align: center;
}

/* Tabulas pogas URL parametri, kad nav uzvilkts kursors */

table button a {
  color: black;
  transition: 0.3s;
  text-decoration: none;
}

/* Tabulas pogas ULR parametri, kad uzvilkts kursors */

table button a:hover {
  color: white;
}

.Information h3 {
  color: white;
  margin: 5px 0px;
  font-size: 15px;
  background-color: #8994b6;
  width: auto;
  padding: 2px 0;
}

.Information button {
  background: rgb(108, 255, 201);
  background: linear-gradient(99deg, rgba(108, 255, 201, 1) 0%, rgba(157, 255, 144, 1) 100%);
  border: none;
  color: black;
  padding: 2px;
  margin: 0 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
  float: right;
}

.Information button a {
  color: black;
  transition: 0.3s;
  text-decoration: none;
}

.Information button a:hover {
  color: white;
}

td a {
  color: white;
  text-decoration: none;
}

td a:hover {
  color: black;
}

th {
  font-size: 12px;
}

.UserInformation {
  grid-row: 1;
  grid-column: 1/5;
  margin-left: 20px;
  height: fit-content;
  box-shadow: 0 0.4px 4.6px rgba(0, 0, 0, 0.018), 0 0.6px 8.7px rgba(0, 0, 0, 0.023), 0 0.9px 12.5px rgba(0, 0, 0, 0.026), 0 2.2px 16px rgba(0, 0, 0, 0.028), 0 6.7px 19.8px rgba(0, 0, 0, 0.033), 0 19.8px 28.3px rgba(0, 0, 0, 0.044), 0 51px 74px rgba(0, 0, 0, 0.07);
  padding: 0px;
}

.UserInformation table {
  color: white;
  width: 99%;
  margin-left: 5px;
}

input[type=checkbox] {
  height: 15px;
  width: 15px;
}
